.newPasswordCard {
  width: 26.3rem;
  margin: 0 auto;
  padding: 2.06rem 2.25rem 3.75rem;
  text-align: left;
}

.title {
  margin-bottom: 3.19rem;
}

.field {
  margin-bottom: 1.19rem;
}

.description {
  margin-bottom: 2.56rem;
  color: var(--color-light-900);
}