.container {
  min-width: 420px;
  max-width: 420px;
  margin: 0 auto;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 27px;
}

.personalInfo {
  margin-bottom: 13px;
  text-align: center;
}

.card {
  padding: 33px 25px 41px;
}

.editButton {
  position: absolute;
  top: 0;
  right: 0;
}
