.root {
  display: flex;
  gap: 7px;
}

.pagination {
  display: flex;
  gap: 12px;
}

.item {
  cursor: pointer;

  width: 1.5rem;
  height: 1.5rem;

  background-color: transparent;
  border-radius: 2px;
}

.active {
  cursor: default;
  color: var(--color-dark-900);
  background-color: #fff;
}

.dots {
  cursor: default;
}


.arrow {
  background-color: transparent;
}