.forgotCard {
  width: 26.3rem;
  margin: 0 auto;
  padding: 2.06rem 2.25rem 1.81rem;
  text-align: left;
}

.title {
  margin-bottom: 3.19rem;
}

.field {
  margin-bottom: 1.19rem;
}

.description {
  margin-bottom: 4.06rem;
}

.buttonSubmit {
  margin-bottom: 1.25rem;
}

.registerLabel {
  margin-bottom: 0.69rem;
}
